
body{
    display: flex;
    font-family: Roboto, sans-serif;
    flex-direction: column;

}

a{
    text-decoration: none;
    color: aliceblue;
}

ul{
    list-style: none;
    display: flex;
}

button{
    max-width: 100px;
    background-color: #3882f6;
    color: aliceblue;
    border-radius: 8px;
}

img{
    height: 180px;
    width: auto;
}

.header{
    padding: 10px;
    font-weight: 24px;
}

.header-container{
    display: flex;
    align-items: center;
    background-color: #1f2937;
    flex: 1 1 auto;
    color: aliceblue;
}

.header-links{
    display: flex;
    margin-left: auto;
    padding: 10px;
    gap: 15px;
}

.desc-header{
    font-size: 48px;
    font-weight: 800;
}

.desc-content{
    font-size: 18px;
}

.desc-container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.o-desc-container{
    display: flex;
    background-color: #1f2937;
    color: aliceblue;
    justify-content: center;
}

.image-master-container{
    display: flex;
}

.image-container{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
}

.info-image{
    height: 100px;
    width: 100px;
}